<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %} OpenID for Email {% endblock %}</title>
  <link rel="openid2.provider openid.server"
        href="{{ request_url_without_params }}" />
  <link href="/static/base.css" rel="stylesheet" type="text/css"/>
  {% block head %}{% endblock %}
</head>

<body {% block bodyattributes %}{% endblock %}>

{% block header %}
{% if user %}
	<div id="login">
		<span class="nickname">{{ user.nickname }}</span> |
		<a href="{{ logout_url|escape }}">Log out</a>
	</div>
{% endif %}

<h1>
	<img alt="OpenID" src="/static/openid-logo.png" />
	for
	{% if user %}
		{{ user.nickname }}
	{% else %}
		Email
	{% endif %}
</h1>
{% endblock %}

{% block body %}{% endblock %}

</body>
</html>
